# Virtual environment
grip_env/

# ALL model weight files anywhere in the project
*.pt
*.onnx
*.engine
*.tflite

# Cache files
*.cache

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db